# Ignore virtual environment
improved-rag/
.env

# Ignore Python cache files
__pycache__/
*.pyc

# Ignore OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows

# Ignore other project-specific files
*.log
*.sqlite3
